<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>About page</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat culpa veritatis 
    fugiat quod temporibus sapiente est nesciunt reprehenderit, excepturi ducimus, quibusdam 
    nobis? Possimus perferendis cum alias tenetur praesentium maxime voluptates.</p>
    <a href="/">Home</a>
</body>
</html>